#collumn1{
  float:left;
  background-color: red;
  height: 100vh;
  width: 31%;
  margin: 1%;
}

#collumn2{
  float:left;
  background-color: red;
  height: 100vh;
  width: 31%;
  margin: 1%;
}

#collumn3{
  float:left;
  background-color: red;
  height: 100vh;
  width: 31%;
  margin: 1%;
}
